* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.navIcon {
  color: #823770; }

.nav-item a {
  color: #823770; }

#furiousLogo {
  height: 80px;
  max-width: 100%;
  margin-top: 3.5rem; }

.bodyWrap {
  display: grid;
  grid-template-columns: 1fr; }

.headerWrap {
  height: 90vh;
  font-family: 'Quicksand', sans-serif;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr; }

#workLink {
  font-family: 'Quicksand', sans-serif;
  height: 55px;
  line-height: 48px;
  font-size: 1.4em;
  border-radius: 2em;
  width: 220px;
  background-color: white;
  color: #965a0a;
  border: 2px solid #ef9217;
  display: block;
  margin: 0 auto;
  bottom: 20px; }

#workLink:hover {
  background-color: #ef9217; }

#catchPhrase {
  text-align: center;
  font-weight: 700px; }

#drivenToText {
  font-weight: 450;
  margin-left: 45px;
  margin-top: 23px;
  margin-bottom: 30px; }
