* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.navIcon {
  color: #823770; }

#navLogo {
  width: 300px; }

.bodyWrap {
  display: grid;
  grid-template-columns: 1fr; }

.headerWrap {
  height: 100vh; }
