* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: "Quicksand", sans-serif; }

.navIcon {
  color: #ffac3f; }

.nav-item a {
  color: #d87b00; }

#furiousLogo {
  height: 80px;
  max-width: 100%;
  margin-top: 3.5rem; }

.material-icons {
  color: #d87b00; }

.bodyWrap {
  display: grid;
  grid-template-columns: 1fr; }

.bodyDiv:nth-child(even) {
  background-color: #ffd8a5; }

.headerWrap {
  height: 90vh;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr; }

#workLink {
  font-family: "Quicksand", sans-serif;
  height: 85px;
  line-height: 78px;
  font-size: 1.4em;
  border-radius: 2em;
  width: 300px;
  background-color: #ffb34e;
  color: white;
  border: 2px solid #ffac3f;
  display: block;
  margin: 0 auto;
  bottom: 10px; }

#workLink:hover {
  background-color: #d87b00; }

#catchPhrase {
  text-align: center;
  color: #656363;
  font-weight: 700px; }

#drivenToText {
  color: #a55e00;
  font-weight: 450;
  margin-left: 45px;
  margin-top: 23px;
  margin-bottom: 30px; }

/*********ABOUT ME SECTION************/
/*************************************/
.sectionHeader {
  text-align: center; }

#profilePic {
  max-width: 80%;
  margin: 27px auto;
  display: block;
  border-radius: 12em; }

.designQualityWrap {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em; }

#designWrap {
  text-align: center;
  color: #656363;
  padding: 10px; }

.iconWrap {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 76%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 76%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #eae8e5;
  max-width: 65%;
  margin: 0 auto; }

.designQualityWrap {
  margin-top: 10px; }

.aboutBodyText {
  margin-bottom: 20px; }

#codeForFuture {
  font-weight: bold;
  font-size: 1.1em;
  color: #d87b00; }

.firstTwo {
  margin-top: 10px; }

.techIcon {
  padding: 20px;
  width: 7em; }

/*Image Fade In Logic*/
.fadeIn {
  -webkit-animation: fadein 2s;
  animation: fadein 2s; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*******PROJECTS SECTION*************/
/************************************/
.projectWrapDiv {
  padding: 15px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1em; }

.portfolioSingleProjectWrap {
  display: grid; }

.portfolioProjectDescription {
  text-align: center;
  position: absolute;
  margin-top: 20%;
  padding: 15px; }

.projectTitle {
  color: white;
  font-size: 3em;
  left: 27%;
  margin-top: 27%;
  text-align: center;
  position: absolute; }

.displayNone {
  display: none; }
