
$main-purple: rgb(130, 55, 112);
$main-orange: rgb(255, 172, 63);
$dark-orange: darken($main-orange, 20%);
$main-grey: rgb(144,142,142);
$dark-grey: darken($main-grey, 17%);
$main-font: 'Quicksand', sans-serif;


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
   font-family: $main-font;
}

nav{
    //background-color: white !important;
    //text-color: $main-purple;
}

#navLogo{
    //width: 300px;
}
.navIcon{
    color: $main-orange;
}

.nav-item a{
    color: darken($main-orange, 20%);
}

#furiousLogo{
    height: 80px;
    max-width: 100%;
    margin-top: 3.5rem;
}

.material-icons{
    color: darken($main-orange, 20%);
}

.bodyWrap{
    display: grid;
    grid-template-columns: 1fr;
}

.bodyDiv:nth-child(even){
    background-color: lighten($main-orange, 20%);
}

.headerWrap{
    height: 90vh;
    //background-color: lighten($main-purple, 50%)
    font-family: $main-font;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

#workLink{
    font-family: $main-font;
    height: 85px;
    line-height: 78px;
    font-size: 1.4em;
    border-radius: 2em;
    width: 300px;
    background-color: lighten($main-orange, 3%);
    color: white;
    border: 2px solid $main-orange;
    display: block;
    margin: 0 auto;
    bottom: 10px;
}

#workLink:hover{
    background-color: $dark-orange;
}

#catchPhrase{
    text-align: center;
    color: darken($main-grey, 17%);
    font-weight: 700px;
}

#drivenToText{
    color: darken($main-orange, 30%);
    font-weight: 450;
    margin-left: 45px;
    margin-top: 23px;
    margin-bottom: 30px;
}

/*********ABOUT ME SECTION************/
/*************************************/

.sectionHeader{
    text-align: center;
}

#profilePic{
    max-width: 80%;
    margin: 27px auto;
    display: block;
    border-radius: 12em;
}

.designQualityWrap{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.designQualities{
    //clip-path: polygon(50% 0%, 100% 25%, 100% 76%, 50% 100%, 0% 75%, 0% 25%);
    //background-color: black;
    //padding: 20px;
}

#designWrap{
    text-align: center;
    color: $dark-grey;
    padding: 10px;
}

.iconWrap{
    clip-path: polygon(50% 0%, 100% 25%, 100% 76%, 50% 100%, 0% 75%, 0% 25%);
    background-color: rgb(234, 232, 229);
    max-width: 65%;
    margin: 0 auto;
}

.designQualityWrap{
    margin-top: 10px;
}

.aboutBodyText{
    margin-bottom: 20px;
}

#codeForFuture{
    font-weight: bold;
    font-size: 1.1em;
    color: $dark-orange;
}

.firstTwo{
    margin-top: 10px;
}

.techIcon{
padding: 20px;
   width: 7em; 
}

/*Image Fade In Logic*/
.fadeIn{
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*******PROJECTS SECTION*************/
/************************************/

.projectWrapDiv{
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
}

.portfolioSingleProjectWrap{
    display: grid;
    background-color: #333;
}

.portfolioProjectDescription{
    text-align: center;
    position: absolute;
    margin-top: 18%;
    padding: 15px;
    color: white;
    font-size: 1.2em;
}

.portfolioImg{
    min-height: 100% !important;
}

.portfolioProjectDescription div {
    margin-bottom: 35px;
}

.projectTitle{
    color: white;
    font-size: 3em;
    left: 27%;
    margin-top: 27%;
    text-align: center;
    position: absolute;
}

.displayNone{
    display:none;
    //animation: fadeIn 2s;
}

.visitWebsite{
    background-color: lighten($main-orange, 3%);
    color: white;
    border: 2px solid $main-orange;
    border-radius: 1.8em;
    margin-top: 15px;
    padding: 12px;
}

#studyProjectTitle, #fridgeProjectTitle{
    left: 0;
}

#studyImg{
    opacity: .8;
}