$bg-color: #000;
$bg-color2: #333;
$main-purple: rgb(130, 55, 112);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    //background: $bg-color2;
    //color:$color;
}

nav{
    //background-color: white !important;
    //text-color: $main-purple;
}

#navLogo{
    //width: 300px;
}
.navIcon{
    color: $main-purple;
}

.nav-item a{
    color: $main-purple;
}

#furiousLogo{
    height: 80px;
    max-width: 100%;
    margin-top: 3.5rem;
}

.bodyWrap{
    display: grid;
    grid-template-columns: 1fr;
}

.bodyDiv:nth-child(odd){
    //background-color: blue;
}

.headerWrap{
    height: 100vh;
    //background-color: lighten($main-purple, 50%)
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

#workLink{
    font-size: 1.4em;
    border-radius: 2em;
    background-color: white;
    color: $main-purple;
    border: 2px solid $main-purple;
    display: block;
    margin: 0 auto;
    bottom: 50px;
}

#catchPhrase{
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

#drivenToText{
    font-weight: 450;
    margin-left: 45px;
    margin-top: 23px;
    margin-bottom: 30px;
}